<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Makeup forever</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
	 <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<link href={{ url_for('static',filename='css/comment.css') }} rel="stylesheet">

<style>
 body {
	
    backgroud-color: #222;
      }

</style>

</head>
<body>
	
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><i class="fa fa-fw fa-magic"></i> Make Up Forever</a>
		</div>
		
		<form class="navbar-form navbar-left"  action="{{url_for('search') }}" method="POST">

            <div class="form-group">
                <input type="text" class="form-control mr-sm-2" placeholder="Search" name="search_content">

			 <!--<a href="{{url_for('search')}}"class="btn btn-primary" role="button"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</a> -->

			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Search">
			</div>
           <!-- <button type="submit" class="btn btn-primary">Search</button> -->
        </form>
		
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				{% if "username" not in session or session['username']=='' %}
					<li><a href="{{url_for('login')}}"><span class="glyphicon glyphicon-log-in"></span> login</a></li>
				{% endif %}
				{%if "username" in session and session['username']!='' %}
				<li><a href="{{url_for('user')}}"><span class="glyphicon glyphicon-log-in"></span> {{username}}</a></li>
				{% endif %}
				<li><a href="{{url_for('registration')}}"><span class="glyphicon glyphicon-user"></span> register</a></li>
				<li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> logout</a></li>
			</ul>
		
		</div><!-- /.nav-collapse -->
	</div><!-- /.container -->
</nav>


<div class="container">
<div class="row">
    <div class="row-same-height">
    <div class="col-md-8" style="margin-top:30px;">

        <video width="774" height="500" controls>
        <source src="{{ data['video_name'] }}" type="video/mp4">
        <source src="{{ data['video_name'] }}" type="video/ogg">
		<source src="{{ data['video_name'] }}" type="video/webm">
        </video>
		
    </div>
    <div class="col-md-4" style="height:508px; margin-top:62px;">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-facetime-video"></span>&nbsp;Video
                        Introduction</h3>
                </div>
                <div class="panel-body" style="height:428px; overflow:scroll;">
                    <table class="table">
                        <tr>
                            <td style="width:30%;color:#ccc;font-weight:bold;font-style:normal;">
                                <span class="glyphicon glyphicon-film"></span>&nbsp;Title
                            </td>
                            <td>{{ data['title'] }}</td>
                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;font-style:normal;">
                                <span class="glyphicon glyphicon-tag"></span>&nbsp;Tags
                            </td>
                            <td>{{ data['tag'] }}</td>
                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;font-style:normal;">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;Blogger
                            </td>
                            <td>{{ data['blogger'] }}</td>
                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;font-style:normal;">
                                <span class="glyphicon glyphicon-list"></span>&nbsp;Make Up List
                            </td>
                            <td>{{ data['list'] }}</td>
                        </tr>
                        <tr>
                            {%if "username" in session and session['username']!='' %}
                        	<a href="{{url_for('collect', title=data['title'])}}" class="btn btn-danger" target="_blank" role="button"><span class="glyphicon glyphicon-heart"></span>&nbsp;Collection</a>
                            {% endif %}
                        </tr>
                       
                    </table>
                </div>
            </div>
	</div>
    </div>
</div>
    <div class="row">
	<div class="col-md-12" style="margin-top:6px;">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span>&nbsp;Video Comments</h3>
                </div>
                <div class="panel-body">
                    	{% if "username" not in session or session['username'] == ''%}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <strong>Please<a href="{{ url_for('login') }}" target="_blank" class="text-info">
                                login</a> to join the discussion about {{ data.title }}！</strong>
                        </div>
                    	{% endif %}


			{%if "username" in session and session['username']!='' %}
    			<div class="widget-area no-padding blank">
            		<div class="status-upload">
				<form action="{{ url_for('play', title=data['title']) }}" method="POST" >
				<textarea placeholder="Do you like this make-up tutorial?"  name="content"></textarea>
		    		<ul>
		    		<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
                    		<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
		    		<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
		    		<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
		    		</ul>
		    	<button type="submit" class="btn btn-success green" value="Submit"><i class="fa fa-share"></i> Share</button>
			<!--<input type="submit">-->
		    	</form>
		    	 <div id="error_mes">{{ error }}</div>
				{% for message in get_flashed_messages(with_categories=True) %}
				<div class="alert alert-{{ message[0] }}">
    			<button type="button" class="close" data-dismiss="alert">&times;</button>
    			{{ message[1] }}
				</div>
				{% endfor %}
	    	<br>
                        
		</div>
   	</div>
			{% endif %}

                    <ol class="breadcrumb" style="margin-top:6px;">
                        <li>Comments</li>
                    </ol>
            	
                    {% for item in items %}
			<div class="comments-list">
                           <div class="media" style="margin-top:15px;">
                           <p class="pull-right"><small>{{item['post_time']}}</small></p>
                            <a class="media-left" >
                            	{% if item['profile_img']=='null' %}
                              <img alt="50x50"   class="img-circle"  style="border:1px solid #abcdef;width: 50px;height: 50px;"  src="{{url_for('static', filename='image/DefaultPic.jpg')}}" />
                            	{% endif %}

                            	{% if item['profile_img']!='null' %}
                              <img alt="50x50"   class="img-circle"  style="border:1px solid #abcdef;width: 50px;height: 50px;"  src="https://s3.amazonaws.com/whileyouweresleeping/{{item['profile_img']}}" />
                            	{% endif %}
                            </a>
                            <div class="media-body">
                              <!--<h4 class="media-heading user_name"><span class="glyphicon glyphicon-user"></span> -->
                              <h4 class="media-heading user_name">
                              {{item['username']}}</h4>
                              {{item['content']}}
                            </div>
                       </div>
                    {% endfor %}

                    
                </div>
            </div>
    </div>
</div>
</div>



 
<!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src={{ url_for('static',filename="script/new-age.min.js") }}></script>
</body>
</html>
